body{
  
  background-color:#F2F0EE !important;


}
.App {
  text-align: center;
}
.responsive-title {
  font-size: clamp(1.1rem, 2vw + 0.4rem, 2rem) !important;
}

.responsive-heading {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem) !important;
  line-height: 1.3;
}

.zoom-container {
   zoom: 1.2; 
}
.fs-8{
  font-size: 10px !important;
}
  @media (min-width: 992px) {
  .w-lg-50 {
    width: 60% !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-1 {
    font-size: 1.5rem !important; /* Like Bootstrap's fs-1 */
  }
} 
@media (min-width: 992px) {
  .fs-lg-2 {
    font-size: 30px !important; /* Like Bootstrap's fs-1 */
  }
}
@media (min-width: 992px) {
  .fs-lg-3   {
    font-size: 20px !important; /* Like Bootstrap's fs-1 */
  }
}
@media ((min-width: 768px) and (max-width:1400px)) {
  .px-lg-6   {
    padding:0px 15px !important;
  }
}

@media (min-width: 1401px) {
  .px-lg-6 {
    padding: 0px 25px !important;
  }
}

